@charset "utf-8";
/* Main Structural Styles */


/* Heading Styles */


/*body notes styles*/
body>section>h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}



